joblib
streamlit
scikit-learn
flask
kafka-python
pyright
black
ruff
mypy
pandas
scikit-learn
scikit-image
matplotlib
jupyterlab
eurybia
alibi-detect[tensorflow]
mlflow
datasets
ipywidgets
tensorflow
keras
